<div class="card-container">
    <div class="card">
        <app-card-nav-bar [inviteVisible]="!isLoading && group != null" (inviteClicked)="invitePeopleClicked()"></app-card-nav-bar>
        <div class="group-info-container">
            <app-loading-icon [dimensions]="50" *ngIf="isLoading"></app-loading-icon>
            <div class="group-info" *ngIf="!isLoading && group != null">
                <h1>{{ group.name }}</h1>

                <a [routerLink]="['/user', group.createdBy.username]">{{ group.createdBy.displayName }}</a>

                <a (click)="viewGroupMembers()">{{ group.members.length }} members</a>

                <div class="action-button-container">
                    <app-button [buttonText]="primaryButtonText" (click)="addToGroupClicked()"></app-button>
                </div>

                <div class="tab-container">
                    <div class="tab-tray">
                        <div class="tab" [ngClass]="{'active': currentIndex === 0}" (click)="tabClicked(0)">Albums</div>
                        <div class="tab" [ngClass]="{'active': currentIndex === 1}" (click)="tabClicked(1)">Playlists</div>
                    </div>
                    <div class="tab-marker" [ngClass]="{'left': currentIndex === 0, 'right': currentIndex === 1}"></div>
                </div>

                <div class="divider"></div>
            </div>
        </div>

        <div class="group-lists-stage" [ngClass]="{'left': currentIndex === 0, 'right': currentIndex === 1}" [ngStyle]="{'height': stageHeight !== null ? stageHeight + 'px' : 'unset'}">
            <div class="group-list group-album-list" [ngClass]="{'active': currentIndex === 0}">
                <app-group-album-list [groupId]="groupId" [isActive]="currentIndex === 0" (resized)="listResized(0)" *ngIf="!isLoading && groupId != null"></app-group-album-list>
            </div>
            <div class="group-list group-playlist-list" [ngClass]="{'active': currentIndex === 1}">
                <app-group-playlist-list [groupId]="groupId" [isActive]="currentIndex === 1" (resized)="listResized(1)" *ngIf="!isLoading && groupId != null"></app-group-playlist-list>
            </div>
        </div>
    </div>
</div>