<div class="group-album-rate-modal">
    <form [formGroup]="rateGroupAlbumForm">
        <div class="form-group" 
            [ngClass]="{'active': overallRatingActive, 'populated': overallRatingPopulated, 'has-error': (!rateGroupAlbumForm.controls['overallRating'].valid && rateGroupAlbumForm.controls['overallRating'].touched)}">
            <div class="input-container">
                <label for="overallRating">Overall</label>
                <input type="number" class="form-control" formControlName="overallRating"
                    (focus)="changeInputState('overallRating', true)"
                    (blur)="changeInputState('overallRating', false)"
                    (keypress)="validateRating($event)"
                    pattern="\d+(\.\d{1})?">
            </div>
            <small class="warning-label" [ngClass]="{'visible': (!rateGroupAlbumForm.controls['overallRating'].valid && rateGroupAlbumForm.controls['overallRating'].touched)}">
                {{ 
                    rateGroupAlbumForm.controls['overallRating'].value?.length === 0 || rateGroupAlbumForm.controls['overallRating'].value == null ? 'Rating cannot be blank' : 'Rating cannot be greater than 10' }}
            </small>
        </div>
        
        <div class="secondary-form-groups-container">
            <div class="small-form-group-container">
                <div class="form-group" 
                    [ngClass]="{'active': lyricsRatingActive, 'populated': lyricsRatingPopulated, 'has-error': (!rateGroupAlbumForm.controls['lyricsRating'].valid && rateGroupAlbumForm.controls['lyricsRating'].touched)}">
                    <div class="input-container">
                        <label for="lyricsRating">Lyrics</label>
                        <input type="number" class="form-control" formControlName="lyricsRating"
                            (focus)="changeInputState('lyricsRating', true)"
                            (blur)="changeInputState('lyricsRating', false)"
                            (keypress)="validateRating($event)"
                            pattern="\d+(\.\d{1})?">
                    </div>
                </div>
                
                <div class="form-group" 
                    [ngClass]="{'active': vocalsRatingActive, 'populated': vocalsRatingPopulated, 'has-error': (!rateGroupAlbumForm.controls['vocalsRating'].valid && rateGroupAlbumForm.controls['vocalsRating'].touched)}">
                    <div class="input-container">
                        <label for="vocalsRating">Vocals</label>
                        <input type="number" class="form-control" formControlName="vocalsRating"
                            (focus)="changeInputState('vocalsRating', true)"
                            (blur)="changeInputState('vocalsRating', false)"
                            (keypress)="validateRating($event)"
                            pattern="\d+(\.\d{1})?">
                    </div>
                </div>
            </div>
            
            <div class="large-form-group-container">
                <div class="form-group" 
                    [ngClass]="{'active': instrumentalsRatingActive, 'populated': instrumentalsRatingPopulated, 'has-error': (!rateGroupAlbumForm.controls['instrumentalsRating'].valid && rateGroupAlbumForm.controls['instrumentalsRating'].touched)}">
                    <div class="input-container">
                        <label for="instrumentalsRating">Instrumentals</label>
                        <input type="number" class="form-control" formControlName="instrumentalsRating"
                            (focus)="changeInputState('instrumentalsRating', true)"
                            (blur)="changeInputState('instrumentalsRating', false)"
                            (keypress)="validateRating($event)"
                            pattern="\d+(\.\d{1})?">
                    </div>
                </div>
                
                <div class="form-group" 
                    [ngClass]="{'active': structureRatingActive, 'populated': structureRatingPopulated, 'has-error': (!rateGroupAlbumForm.controls['structureRating'].valid && rateGroupAlbumForm.controls['structureRating'].touched)}">
                    <div class="input-container">
                        <label for="structureRating">Structure</label>
                        <input type="number" class="form-control" formControlName="structureRating"
                            (focus)="changeInputState('structureRating', true)"
                            (blur)="changeInputState('structureRating', false)"
                            (keypress)="validateRating($event)"
                            pattern="\d+(\.\d{1})?">
                    </div>
                </div>
            </div>
        </div>
                
        <div class="form-group populated" 
            [ngClass]="{'active': commentActive, 'has-error': (!rateGroupAlbumForm.controls['comment'].valid && rateGroupAlbumForm.controls['comment'].touched)}">
            <div class="input-container comment">
                <label for="comment">Comment</label>
                <textarea class="form-control" formControlName="comment" [maxLength]="1500"
                    (focus)="changeInputState('comment', true)"
                    (blur)="changeInputState('comment', false)"></textarea>
            </div>
        </div>

        <app-loading-button [buttonText]="'Rate'" [isLoading]="isLoading" [isDisabled]="!rateGroupAlbumForm.valid" (click)="rateGroupAlbumAsync(rateGroupAlbumForm.value)"></app-loading-button>
    </form>
    <p class="form-error" [ngClass]="{'visible': formErrorMessageVisible}">{{ formErrorMessage }}</p>
</div>