.loading-icon-container {
    width: 200px;
    height: 200px;

    position: absolute;
    z-index: 0;

    opacity: 0;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;

    &.embedded {
        display: none;
    }

    &.visible {
        opacity: 1;

        &.embedded {
            display: block;
        }
    }
}
